@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container{
  width: 80%;
  margin: auto;
}



/* Dom One  */

section{
  width: 100%;
}

.todoBox {
  width: 55%;
  margin: 100px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.inputBox {
  width: 82%;
  padding: 10px;
  margin-right: 10px;
  border: 2px solid #007bff;
  border-radius: 5px;
  font-size: 20px;
}

.addButton {
  width: 15%;
  height: 48px;
  background-color: #007bff;
  color: white;
  border: 2px solid #007bff;
  border-radius: 5px;
  font-size: 20px;
}

.todoList {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.todoItem {
  background-color: #e0f7fa;
  border: 2px solid rgb(210, 208, 208);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.todoText {
  flex-grow: 1;
  word-break: break-all;
}

.delButton {
  width: 8%;
  height: 50px;
  color: white;
  background-color: #0113b5;
  border: 2px solid #0113b5;
  border-radius: 5px;
  font-size: 20px;
}



/* Dom two  */



.mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 100px;
}

.buttonBox{
  width: 80%;
  position: relative;
  top: 210px;
}

.buttonBox button {
  height: 50px;
  position: absolute;
  top: 18px;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

.headBox{
  width: 80%;
  height: 450px;
}

.headBox img {
  width: 100%;
  height: 100%;
}

.footBox {
  width: 80%;
  display: flex;
  justify-content: center;
}

.itemBox img {
  width: 100%;
  height: 150px;
  cursor: pointer;
  transition: transform 0.2s;
}

.itemBox img:hover {
  transform: scale(1.1);
}



/* Dom three  */



.mainBoxTwo{
  text-align: center;
  margin-top: 50px;
}


.textBox p {
  width: 100px;
  height: 37px;
  display: inline-block;
  margin: 30px 10px;
  padding: 7px;
  cursor: pointer;
  color: white;
  border: 1px solid black;
  background-color: black;
  border-radius: 7px;
  transition: background-color 0.3s, color 0.3s;
}

.selected {
  background-color: blue !important;
  color: white;
  
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery img {
  width: 100%;
  height: 75%;
}

.card {
  width: 30%;
  height: 360px;
  margin: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-body {
  padding: 15px;
}

.card-body p:first-child{
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
}



/* Dom four  */



.textBoxTwo{
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
}

.contentBox{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBoxThree{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 50px;
  margin-top: 40px;
  vertical-align: top;
  justify-content: space-between;
}

.parentBox{
  width: 90%;
  height: 40px;
  border: 1px solid green;
  text-align: center;
}

button{
  border: none;
  width: 30px;
  height: 40px;
  background-color: aqua;
  font-size: 25px;
}

button:hover{
  background-color: rgb(77, 77, 224);
  color: white;
}

.childBox{
  width: 50px;
  height: 100%;
  background-color: orange;
}

#faizBox{
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  padding-top: 10px;
}



/* Dom five  */



#contentBoxThree {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}

#contentBoxThree li {
  margin: 5px 0;
  font-size: 30px;
}

.pagination {
  display: flex;
}

.pagination a {
  margin: 0 5px;
  padding: 20px 28px;
  text-decoration: none;
  color: #333;
  font-size: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination a.active {
  background-color: #02b5eb;
  color: white;
}

.pagination a.disabled {
  color: #ccc;
  pointer-events: none;
}



/* Dom six  */

/* Box one  */



.tabBoxOne {  
  background-color: #007bff;
  padding: 40px;  
  width: 80%;  
  margin: 40px auto;  
  border-radius: 15px;  
  box-shadow: 4px 4px 4px rgb(6, 5, 5, 0.5), -4px -4px 4px rgb(6, 5, 5, 0.5);  
}  
  
.tabContainerOne {  
  display: flex;  
  justify-content: center;  
  align-items: center;
}  
  
.tabOne {  
  background-color: #ffffff;
  padding: 15px 30px;  
  border: none;  
  cursor: pointer;  
  font-size: 16px;  
  margin-right: 10px;  
}  
  
.tabOne:last-child {  
  margin-right: 0;  
}

.tabOne:hover{
  background-color: rgb(224, 240, 253);
}

/* Box two  */

.tabBoxTwo {  
  background-color: #007bff;
  padding: 40px;  
  width: 80%;  
  margin: 40px auto;  
  border-radius: 15px;  
  box-shadow: 4px 4px 4px rgb(6, 5, 5, 0.5), -4px -4px 4px rgb(6, 5, 5, 0.5); 
  display: none;
}  

.tabContainerTwo{
  display: flex;  
  justify-content: center;  
  align-items: center;
}
  
.tabTwo {  
  background-color: #ffffff;
  border: none;  
  padding: 15px 30px;  
  font-size: 16px;  
  cursor: pointer;  
  margin-right: 10px;  
}  
  
.tabTwo:last-child {  
  margin-right: 0;  
}  

.tabTwo:hover{
  background-color: rgb(224, 240, 253);
}
  

/* Quiz boxs  */


.quizBoxOne{
  background-color: #007bff;
  padding: 30px;  
  width: 80%;  
  margin: 30px auto;  
  border-radius: 15px;  
  box-shadow: 4px 4px 4px rgb(6, 5, 5, 0.5), -4px -4px 4px rgb(6, 5, 5, 0.5); 
  display: none;
}

.quizContainerOne {
  padding: 10px;
  border-radius: 10px;
}

.questionBoxOne {
  width: 80%;
  background-color: #0651c9;
  color: white;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
  box-shadow: 4px 4px 4px rgb(6, 5, 5, 0.5), -4px -4px 4px rgb(6, 5, 5, 0.5);
}

.optionsBoxOne {
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 10px;
}

.optionBoxOne {
  width: 45%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

.optionBoxOne:hover {
  background-color: #0065d1;
}

.navigationBox {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrowLeft , .arrowRight{
  width: 45px;
  height: 45px;
  background-color: white;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 50%;
}
.arrowLeft img{
  width: 100%;
  height: 100%;
}

.arrowRight img{
  width: 100%;
  height: 100%;
}

.arrowLeft:hover{
  background-color: rgb(224, 240, 253);
}

.arrowRight:hover{
  background-color: rgb(224, 240, 253);
}

.pageBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageListBox {
  width: 35px;
  height: 35px;
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 7px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pageListBox:hover {
  background-color: green;
}


/* Results Box  */


.resultsContainer {
  background-color: #007bff;
  padding: 50px;  
  width: 80%;  
  margin: 30px auto;  
  border-radius: 15px;  
  box-shadow: 4px 4px 4px rgb(6, 5, 5, 0.5), -4px -4px 4px rgb(6, 5, 5, 0.5); 
  text-align: center;
  color: white;
  display: none;
}

.resultsContainer h1 {
  margin-bottom: 40px;
  font-size: 30px;
}

.resultsContainer p {
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
}

.resultBox {
  color: black;
  font-weight: bold;
}


.true:hover{
  background-color: green;
}

.false:hover{
  background-color: red;
}

.btn-active{
  background-color: green;
}


